/* DashboardComponent's private CSS styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Optional, for centering text within the container */
}
h2 {
  text-align: center;
}

.parts-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: rgb(127, 255, 212);
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #363636;
  text-align: center;
  border: 2px;
  border-style: solid;
  border-color: #ededed;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  border-radius: 8px;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {

    box-sizing: content-box;
  }
}

a:hover {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item a {
  display: flex;
  width: 100%;
  flex-direction:row;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.menu-item a span{
  margin: 0 auto
}

.menu-item a img{
  padding-right: 1rem;
}

.menu-item a:hover, .parts-menu a:hover {
  transform: scale(1.05);
  background-color: white;
}

.menu-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.menu-item span {
  font-size: 20px;
  text-align: center;
}
