<div class="container">
  <h2>Nogle reservedele</h2>
  <div class="parts-menu" *ngIf="isLoggedIn$ | async">
    <a *ngIf="parts == null">Loading...</a>
    <a *ngFor="let part of parts"
        routerLink="/part-detail/{{part.partID}}" 
        (mouseenter)="onHover(part.partName)">
        {{part.partName}}
    </a>
  </div>
  <div *ngIf="!(isLoggedIn$ | async)">
    <p>Please log in to view parts list.</p>
  </div>
</div>
<div class="container">
  <h2>Vores Produkter</h2>
  <div class="menu">
    <div class="menu-item">
      <a routerLink="/dashboard">
        <img src="dashboard-icon.svg" alt="Dashboard Icon">
        <span>Dashboard</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/parts">
        <img src="parts-icon.svg" alt="Reservedele Icon">
        <span>Reservedele</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/machines">
        <img src="machines-icon.svg" alt="Maskiner Icon">
        <span>Maskiner</span>
      </a>
    </div>
    <div class="menu-item">
      <a routerLink="/service-checklist">
        <img src="service-icon.svg" alt="Registrer Service Icon">
        <span>Registrer Service</span>
      </a>
    </div>
  </div>
</div>


