/* HeroSearch private styles */

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
  
  }


  input {
    padding: .5rem;
    width: 100%;
    max-width: 600px;
    width: 200px; /* set initial width to 200px */
    box-sizing: border-box;
    display: block;
  }
  
  @keyframes grow {
    from {
      width: 200px;
    }
    to {
      width: 400px;
    }
  }
  
  @keyframes shrink {
    from {
      width: 400px;
    }
    to {
      width: 200px;
    }
  }
  
  input:focus {
    outline: #336699 auto 1px;
    animation-name: grow;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  input:not(:focus) {
    animation-name: shrink;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
  }
  
  
  
  

  li {
    list-style-type: none;
    background-color: white;
  }
  .search-result li a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
  }
  
  .search-result li a:hover {
    background-color: #435A60;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }