<!-- <button >{{name}}</button> -->
<svg class="button cy-userbutton" (click)="togglePopup()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path fill="currentColor" d="M4 0C2.9 0 2 1.12 2 2.5S2.9 5 4 5s2-1.12 2-2.5S5.1 0 4 0zM1.91 5C.85 5.05 0 5.92 0 7v1h8V7c0-1.08-.84-1.95-1.91-2c-.54.61-1.28 1-2.09 1c-.81 0-1.55-.39-2.09-1z"/></svg>

<div class="popup cy-popup-loggedin" *ngIf="showPopup && (isLoggedIn$ | async)">
    <p>Navn: {{name}}</p>
    <button class="logout-button" (click)="logout()">Log ud</button>
</div>

<div  class="popup cy-popup-notloggedin" *ngIf="showPopup && !(isLoggedIn$ | async)">
    <p>Log ind</p>
    <div>
        <div style="margin-bottom: 1rem;">
            <input 
            name="username"
            #usernameInput 
            id="username-input" 
            class="cy-username-input"
            [(ngModel)]="username" 
            placeholder="Brugernavn" 
            (keyup.enter)="login()"
            autocomplete="username" 
            required>
          </div>
          <div>
            <input 
            type="password" 
            name="password" 
            id="password-input" 
            class="cy-password-input"
            [(ngModel)]="password" 
            placeholder="Adgangskode" 
            (keyup.enter)="login()" 
            autocomplete="current-password" 
            required>
          </div>
        <button class="login-button cy-login-button"  (click)="login()">Log ind</button>
    </div>
</div>
  
