nav {
    /* background-color: #7fffd4; */
    height: 4rem;
    display: flex;
    flex-direction: row;
}

.nav-item {
  justify-content: space-between;
    height: 100%;
    display: flex;
    align-items: center;
}

.float-right{
  display:flex;
  margin-left:auto;
}

#search-bar {
  display: flex;
  margin-top: 0.8rem;
  margin-left: auto;
  margin-right: 1rem;
}

.nav-item:hover {
    background-color: rgb(6, 237, 160);
}

a {
    margin: auto 2rem auto 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
}

a:link {
    color: #1a1919; /* Set the default color for unvisited links */
  }
  
  a:visited {
    color: rgb(26, 25, 25); /* Set the same color for visited links */
  }
  
  a:hover {
    color: rgb(26, 25, 25); /* Change the color on hover */
  }